fastapi
uvicorn
pytesseract
python-multipart
pillow
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-experimental
langchain-qdrant
qdrant-client
langchain-ollama
pypdf
requests
pdf2image
pdfplumber
python-dotenv
python-telegram-bot
rank_bm25
